extends layout

block content
  h1 First things first, Find your train!
  p Locate your train, then board. Save trip and Happy New Year 2021
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Locate and review the correct train schedule.
